body {
  background-color: white;
  text-align: center;
}


.sub{
  color: goldenrod;
}

.center{
  text-align: center;
}

.spacing{
  margin-top:20%;
}

.menu{
  display: inline-block;
  padding: .5em;
}

